body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
  color: rgb(42, 41, 65);
  background-color: #056ef8a8; /* usa modelo FlexBox, conceito de caixa para posicionamento */
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  height: 100vh; /* Define a altura */
}
button {
  background-color: #012d5c;
  color: white;
  border: none;
  padding: 10px 15px; /*10 px é superior e inferior e 15px é esquerda e direita */
  border-radius: 5px;
  cursor: pointer; /* cursor do mouse */
}
button:hover {
  background-color: #160a7e;
}
.menuClass {
  width: 200px;
  height: 100vh;
  background: #080808;
  color: aliceblue;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

footer {
  color: white;
  text-align: left;
  font-style: italic;
}

.menuClass ul {
  list-style: none;
  padding: 0;
}
.menuClass ul li {
  margin: 10px;
}
.menuClass ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.menuClass ul :hover {
  background-color: #161415;
}
.container {
  display: flexbox;
  color: #161415;
}
