body {
  font-family: arial, sans-serif;
  background-color: #056ef8a8;
  /* usa modelo FlexBox, conceito de caixa para posicionamento */
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  height: 100vh; /* Define a altura */
}
.cartao {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  text-align: center;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px; /*10 px é superior e inferior e 15px é esquerda e direita */
  border-radius: 5 px;
  cursor: pointer; /* cursor do mouse */
}
button:hover {
  background-color: #050505d2;
}
.menuClass {
  width: 200px;
  height: 600px;
  background: #080808;
  color: aliceblue;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}
footer {
  color: white;
  text-align: left;
  font-style: italic;
}
image {
  display: flexbox;
  width: 30px;
  height: 30px;
}
